<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Parse | Account</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <div>
        <a class="nav-link" href="index.html">Return</a>
    </div>


<!-- ACCOUNT START -->
    <h3>Parse | Account Settings</h3>
        <div>
            <p>Username: {{ username }}</p>
            <p>Email: {{ email }}</p>
            <button class="btn submit-btn">Log-out</button>
            <button class="btn submit-btn">Delete Account</button>
        </div>
<!-- ACCOUNT END -->
</body>