<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Parse | Programming</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<!-- GO TO TOP -->
    <div id="top-btn">
        <button class="btn top-btn"><i class="icofont-arrow-up"></i></button>
    </div>
<!-- COURSE START -->
    <h3>Programming</h3>

    <div>
        <input type="button" id="main_topic1" name="main_topic1" value="A. {{ main_topic1 }}" />

        <div>
            <input type="button" id="sub_topic1.1" name="sub_topic1.1" value="A. {{ sub_topic1.1 }}" />
            <input type="button" id="sub_topic1.2" name="sub_topic1.2" value="B. {{ sub_topic1.2 }}" />
        </div>  

        <input type="button" id="main_topic2" name="main_topic2" value="B. {{ main_topic2 }}" />

        <div>
            <input type="button" id="sub_topic2.1" name="sub_topic2.1" value="A. {{ sub_topic2.1 }}" />
            <input type="button" id="sub_topic2.2" name="sub_topic2.2" value="B. {{ sub_topic2.2 }}" />
        </div>

        <input type="button" id="main_topic3" name="main_topic3" value="C. {{ main_topic3 }}" />
        <div>
            <input type="button" id="sub_topic3.1" name="sub_topic3.1" value="A. {{ sub_topic3.1 }}" />
            <input type="button" id="sub_topic3.2" name="sub_topic3.2" value="B. {{ sub_topic3.2 }}" />
        </div>

        <input type="button" id="main_topic4" name="main_topic4" value="D. {{ main_topic4 }}" />
        <div>
            <input type="button" id="sub_topic4.1" name="sub_topic4.1" value="A. {{ sub_topic4.1 }}" />
            <input type="button" id="sub_topic4.2" name="sub_topic4.2" value="B. {{ sub_topic4.2 }}" />
        </div>

    </div>
<!-- COURSE END -->

</body>