<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <title>Parse | Sign-Up</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>

    <h3>Parse | Create an Account</h3>
        <div>
            <input type="text" class="form-control custom-input" id="username" name="username" value="" placeholder="Username:" /></div>
        <div>
            <input type="email" class="form-control custom-input" id="email" name="email" value="" placeholder="Email:" /></div>
        <div>
            <input type="password" class="form-control custom-input" id="password" name="password" value="" placeholder="Password:" /></div>
        <div>
            <input type="password" class="form-control custom-input" id="ver_password" name="ver_password" value="" placeholder="Verify Password:" /></div>
        <div>
            <button class="btn submit-btn">Create Account</button></div>
            

</body>